.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: orange;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-black {
    color: black;
}

.text-orange {
    color: orange;
}