button {
  text-align: center;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: .5;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

span {
  padding-left: .5rem;
}